
.flex_space_between {
  display: flex;
  justify-content: space-between;
}

.flex_space_between__center {
  align-items: center;
}

.flex_space_around {
  display: flex;
  justify-content: space-around;
}

.flex__no_wrap {
  flex-wrap: nowrap;
}

.flex__align_center {
  align-items: center;
}

.flex__center {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pr-4 {
  padding-right: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pb-4 {
  padding-botton: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-botton: 8px;
}

